.anamnese-background {
    position: fixed; /* Garante que o fundo cubra toda a tela */
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url(https://images.pexels.com/photos/5699466/pexels-photo-5699466.jpeg);
    background-size: cover;
    background-position: center;
    z-index: -1; /* Mantém o fundo atrás do conteúdo */
}

.anamnese-container {
    position: relative; /* Mantém o formulário sobre o fundo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    color: darkslategrey;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    margin-top: 150px;
}
#divform-anam {
    background-color: #fff;
    padding: 15px;
    border-radius: 30px 0 30px 0; 
    color: darkslategrey;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.divBotao {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-anamnese {
    width: 200px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
}

.botao-anamnese :hover {
    background-color: #0069d9;
}