body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 700px;
    background-color: #D9B9A0;
    color: darkslategrey;
    padding: 30px; 
    border-radius: 12px; 
    overflow: hidden; 
}

button {
    margin: 15px;
}