body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 700px;
    background-color: #D9B9A0;
    color: darkslategrey;
    padding: 30px; 
    border-radius: 12px; 
    overflow: hidden; 
}

input {
    border-radius: 7px;
    padding: 7px;
}

.icons {
    margin: 5px;
}

.divInput {
    display: flex;
    justify-content: center; /* Alinha os itens no centro */
    gap: 5px;
}

.botao{
    width: 200px;
}

.divBotoes {
    display: flex;
    justify-content: space-evenly;
}