.container-cad-paciente {
    display: flex;
    justify-content: center;
    align-items: center;
    resize: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;
}

#div-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 30px 0 30px 0; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    text-align: center;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    position: relative;
}

input {
    border-radius: 7px;
    padding: 7px;
}

.icons {
    margin: 5px;
}

.divInput {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 5px;
    max-width: 250px;
}

.botao{
    width: 200px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
}

.botao :hover {
    background-color: #0069d9;
}

.divBotoes {
    display: flex;
    justify-content: space-evenly;
}