.container-home {
    width: 100vw;
    /* Ocupa toda a largura da tela */
    min-height: 100vh;
    /* Garante que o conteúdo ocupe toda a tela */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.header-home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* Garante que ocupa toda a tela */
}

.header-home img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.header-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 530px;
    height: 400px;
    display: flex;
    margin-left: 5em;
    margin-top: 10em;
    border-radius: 60px 0 60px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 73, 165, 0.8);
    color: white;
    padding: 20px;
}

.header-text h1,
h2,
p {
    font-size: 1em;
    margin-bottom: 1em;
    font-family: "Instrument Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.header-text h1 {
    font-size: 2.5em;
    color: #B9E1D9;
}

.header-text h2 {
    background-color: #D88656;
    padding: 0.2em 1em;
    border-radius: 30px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    color: black;
}

.header-text p {
    font-size: 1.3em;
}

.aboutus {
    margin-top: 8em;
    display: flex;
    justify-content: space-evenly;
    gap: 4em;
}

.about {
    background-color: #D88656;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & h2 {
        font-size: 1.5em;
        color: black;
    }

    & .bx-health,
    .bxs-wallet,
    .bxs-calendar,
    .bxs-face {
        color: black;
        font-size: 3em;
    }
}

.coments-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 73, 165);
    width: 100%;
    height: 1200px;
    margin-top: 8em;
}

.coments-info {
    padding-top: 2em;
    background: rgba(0, 0, 0, 0.4);
    margin-top: 2em;
    width: 85em;
    height: 12em;
    display: flex;
    flex-direction: row;
    border-radius: 110px;
    align-items: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.8);


    & img {
        width: 11em;
        height: 11em;
        margin-left: 2em;
        margin-bottom: 1.6em;
        margin-right: 2em;
        border-radius: 100%;

    }

    & h1 {
        color: #D88656;
        opacity: 80%;
        font-size: 1.3em;
        font-family: "Instrument Sans", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }

}

.coments-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
    background: rgba(0, 0, 0, 0.4);
    width: 85em;
    height: 17em;
    border-radius: 30px;

    & h2 {
        color: #B9E1D9;
    }

    & form {
        display: flex;
        flex-direction: column;

        & label {
            color: #D88656;
            font-size: 1.3em;
            font-family: "Instrument Sans", serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-variation-settings:
                "wdth" 100;

        }

        & textarea {
            height: 4em;
        }

        & button {
            width: 4.7em;
            border-radius: 2em;
            background-color: #D88656;
            margin-left: auto;
            margin-right: auto;
            color: black;
            font-size: 1.3em;
            font-family: "Instrument Sans", serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-variation-settings:
                "wdth" 100;

            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
        }
    }

}

.container-ajuda {
    width: 100%;
    display: flex;



    & .ajuda-img {
        width: 50%;
        height: 100vh;

        & img {
            height: 100vh;


        }
    }

    & .ajuda-link {
        background-color:white;
        width: 50%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & div {
            background-color: rgb(22, 73, 165);
            padding: 3em;
            border-radius: 30px;
            color: white;

            & h1 {
                font-family: "Instrument Sans", serif;
                font-optical-sizing: auto;
                font-weight: 500;
                font-style: normal;
                font-variation-settings:
                    "wdth" 100;
            }
        }
    }
}

.ajuda-id {
    background-color: #D88656;
    /* Laranja da paleta */
    color: black;
    padding: 1em 1.5em;
    border-radius: 15px;


    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease;
    font-family: "Instrument Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.bx-search {
    margin-left: 0.5em;
    font-size: 1em;
}

.ajuda-id:hover {
    background-color: #D9B9A0;
    /* Bege-claro */
}