.navbar {  
  width: 100%;
    height: 60px; /* Reduzindo a altura */
    background-color: #5D87D2; /* Azul da paleta */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .navbar .container-navbar {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #5D87D2;
}

.container-navbar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative; /* Garante que não sobreponha nada */
  z-index: 1; /* Mantém ela abaixo da navbar */
}


  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: "Instrument Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    font-family: "Instrument Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #B9E1D9; /* Verde-água suave */
  }

  .nav-link-login{
    display: flex;
    gap: 2em;
  }

  .btn-ajuda {
    background-color: #D88656; /* Laranja da paleta */
    color: white;
    padding: 0.5em 0.8em;
    border-radius: 5px;

    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease;
    font-family: "Instrument Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .bx-search{
    margin-left: 0.5em;
    font-size: 1em;
  }
  .btn-ajuda:hover {
    background-color: #D9B9A0; /* Bege-claro */
  }

  .btn-login {
    background-color: #D88656; /* Laranja da paleta */
    color: white;
    padding: 0.5em 0.8em;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease;
    font-family: "Instrument Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  .btn-login:hover {
    background-color: #D9B9A0; /* Bege-claro */
  }
  .signup{
    font-size: 1em;
    color: white;
    text-decoration: none;
    background-color: #5D87D2; /* Laranja da paleta */
    color: white;
    padding: 0.5em 0.2em;
    
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease;
    font-family: "Instrument Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

@media (max-width: 768px) {
  .nav-links {
      gap: 15px;
  }
}
