.visu_body {
    margin: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1E7DD;
}

.divisor {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.visu {
    padding: 60px;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 1332px;
    justify-content: center;
    align-items: center;
    background-color: #F4D9BD;
    border-radius: 22px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);  /*Sombra preta com 30% de opacidade */
}
.imagem_do_perfil {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 322px;
    height: 322px;
    border-radius: 50%;
    background-color: #5D87D2;
}
.nume {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: auto;
    border-radius: 40%;
    background-color: #5D87D2;
}

.retornar { /* Posiciona o item de forma absoluta dentro do contêiner pai */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 30px;
    width: auto;
    background-color: #E2AB77;
    border-radius: 12px;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}

.retornar:hover {
    background-color: #C68C56; /* Azul escuro */
  }

.centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informa {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 1402px;
    
    align-items: center;
    background-color: #F4D9BD;
    border-radius: 22px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);  /*Sombra preta com 30% de opacidade */
}

.alinhamento {
    justify-items: center;
}
.apresenta {
    justify-content: center;
    padding: 10px;
    height: auto;
    width: 1300px;
    background-color: #F0BF8D;
    border-radius: 12px;
}

.cap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 30px;
    width: auto;
    background-color: #D9B9A0;
    border-radius: 22px;
    white-space: nowrap;
}

.direc {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 5px;
}

.cima {
    display: flex;
    gap: 1000px;
    white-space: nowrap;
}
.baixo { 
    display: flex;
    gap: 800px;
    white-space: nowrap;
}