.user_body {
    margin: 30px;
    background-color: #F1E7DD;
}

.divisor_cont {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.container_1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    top: 20px;
    align-items: center;
    margin-top: 2em;
}

.container_2 {
    position: relative;
    display: flex;
    gap: 30px;
    flex-direction: column;
    top: 20px;
    margin-top: 2em;
}

.circulo {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 322px;
    height: 322px;
    border-radius: 50%;
    background-color: #5D87D2;
}

.quadro_1 {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 542px;
    height: 562px;
    background-color: #FFFFFF;
    border-radius: 5%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.separar {

    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.quadro_2 {
    
    height: 378px;
    width: 978px;
    border-radius: 12px;
    background-color: #E8D0B9;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.quadro_3 {
    height: 378px;
    width: 978px;
    border-radius: 12px;
    background-color: #E8D0B9;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.quadro_4 {
    height: 278px;
    width: 978px;
    border-radius: 12px;
    background-color: #E8D0B9;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.tell {
    display: flex;
    gap: 20px;
}

.quad_top {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 12px 0 0;
    height: 40px;
    justify-items: center;
    background-color: #E2AB77;
}

.quad_top2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 12px 0 0;
    height: 40px;
    justify-items: center;
    background-color: #E2AB77;
}

.quad_top3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 12px 0 0;
    height: 40px;
    justify-items: center;
    background-color: #E2AB77;
}

.circulo_menor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: auto;
    border-radius: 50%;
    background-color: #5D87D2;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 542px;
    height: 30px;
    background-color: #D9D9D9;
    border-radius: 9px;
}

.botao_cima {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 542px;
    height: 50px;
    background-color: #E2AB77;
    border-radius: 10px 10px 0 0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.botao_cima:hover {
    background-color: #C68C56; /* Azul escuro */
  }

.botao_cent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 542px;
    height: 50px;
    background-color: #E2AB77;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.botao_cent:hover {
    background-color: #C68C56; /* Azul escuro */
  }

.botao_baixo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 542px;
    height: 50px;
    background-color: #E2AB77;
    border-radius: 0 0 10px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.botao_baixo:hover {
    background-color: #C68C56; /* Azul escuro */
  }

.retornar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 342px;
    height: 50px;
    background-color: #E2AB77;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.retornar:hover {
    background-color: #C68C56; /* Azul escuro */
  }

.grupo_but {
    display: flex;
    flex-direction: column;
    
    & button{
        margin-bottom: 1em;
    }
}

.edit {
    position: relative;
    left: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    background-color: #E2AB77;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.edit:hover {
    background-color: #C68C56; 
  }
